RewriteEngine On

# Force HTTPS and non-www canonical domain
RewriteCond %{HTTP_HOST} ^www\.suryodayfortune\.com$ [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^ https://suryodayfortune.com%{REQUEST_URI} [L,R=301]
